{
  "openapi": "3.1.0",
  "info": {
    "title": "VoidMob Public API",
    "version": "1.0.0",
    "summary": "SMS verifications, mobile proxies, and webhooks for programmatic use.",
    "description": "The VoidMob Public API (`/api/v1`) exposes the same surface that powers the\ndashboard - SMS verifications, mobile/GB proxy provisioning, real-time\nbalance, and outbound webhooks - under a stable, programmatic contract.\n\nRunning higher volumes? Custom pricing is available -\n[contact us](https://voidmob.com/contact).\n\n## Conventions\n\n- **Base URL:** `https://dashboard.voidmob.com/api/v1`\n- **Authentication:** Bearer token. Issue keys from\n  [Developers - API Keys](https://dashboard.voidmob.com/developers/api-keys).\n  Live keys are prefixed `vmk_live_`.\n- **Money:** all monetary values are **USD cents** as integers. The API\n  never returns floats for money.\n- **Identifiers:** every public id has a stable prefix (`svc_`, `ver_`,\n  `ren_`, `prx_`, `plan_`, `pool_`, `list_`, `whep_`, `esim_`, `prod_`,\n  `evt_`). Treat them as opaque.\n- **Envelopes:** every JSON response is either\n  `{ \"success\": true, \"data\": ... }` or\n  `{ \"success\": false, \"error\": { code, message, docs_url, request_id, details? } }`.\n- **Idempotency:** order-creating and money-moving POST / PATCH / DELETE\n  requests require an `Idempotency-Key` header (any string up to 255\n  chars) - see each operation's parameters for whether it is required.\n  Lighter-weight management calls (webhook-endpoint create/delete,\n  auto-renew toggle, dedicated IP rotation) do not. Re-sending the same\n  key with the same body replays the original response; a different body\n  returns `409 IDEMPOTENCY_CONFLICT`.\n- **Rate limits:** every response carries `X-RateLimit-Limit`,\n  `X-RateLimit-Remaining`, and `X-RateLimit-Reset` (unix seconds). 429s\n  additionally carry `Retry-After`.\n- **Pricing:** SMS prices drift between catalog and create. Send\n  `max_price_cents` to cap how much you authorize; if the lowest\n  available price is above that cap, the API returns `409 PRICE_OVER_CAP`\n  with both your cap and the current price in the error details. No\n  partial state is created. See `verifications` and `rentals`.\n",
    "contact": {
      "name": "VoidMob",
      "url": "https://voidmob.com",
      "email": "info@voidmob.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://voidmob.com/terms"
    },
    "x-logo": {
      "url": "https://voidmob.com/images/logo.png",
      "altText": "VoidMob"
    }
  },
  "externalDocs": {
    "description": "VoidMob - SMS verifications, mobile proxies and eSIM",
    "url": "https://voidmob.com"
  },
  "servers": [
    {
      "url": "https://dashboard.voidmob.com/api/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Authenticated account snapshot and rate-limit visibility."
    },
    {
      "name": "Services",
      "description": "Browse the SMS service catalog for a country."
    },
    {
      "name": "Verifications",
      "description": "Create, poll, cancel, complete, and reuse SMS verifications."
    },
    {
      "name": "Rentals",
      "description": "Create and manage long-term phone number rentals (multi-day, multi-SMS)."
    },
    {
      "name": "Proxies",
      "description": "Buy and manage mobile / shared proxy packages and their lists."
    },
    {
      "name": "Plans",
      "description": "Browse proxy plans."
    },
    {
      "name": "Proxy pools",
      "description": "Reseller-only, mobile/GB proxies only. A pool is a block of prepaid GB at a\nnegotiated per-GB rate, drawn down by the sub-orders you mint for your own\ncustomers (`POST /v1/proxies` with `pool_id`). Pools are not self-serve: one\nis provisioned for your account under a separate reseller agreement, so these\nendpoints return nothing until you have one. Contact support to set one up.\nSMS, dedicated numbers, and eSIM have no pool equivalent - resellers use the\nstandard endpoints with volume pricing applied to the account.\n"
    },
    {
      "name": "Geo",
      "description": "Cascading geo data for mobile proxy targeting."
    },
    {
      "name": "Webhooks",
      "description": "Outbound event subscriptions."
    },
    {
      "name": "eSIM",
      "description": "Purchase and manage eSIM orders, browse the product catalog, and top up data."
    },
    {
      "name": "System",
      "description": "Health and asset endpoints."
    }
  ],
  "paths": {
    "/me": {
      "get": {
        "operationId": "getMe",
        "tags": [
          "Account"
        ],
        "summary": "Get the authenticated account snapshot",
        "description": "Returns the caller's user id, wallet balance, per-endpoint-group\nrate-limit ceilings, and account-created timestamp. Cacheable for 5\nseconds with `ETag` / `If-None-Match`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "Account snapshot.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Me"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified. Body is empty; reuse the cached value."
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "403": {
            "$ref": "#/components/responses/IP_NOT_ALLOWED"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "tags": [
          "System"
        ],
        "security": [],
        "summary": "Health probe (unauthenticated)",
        "description": "Reports overall API health, a list of SMS services that have been\ndegraded for over 15 minutes, and recent proxy provisioning latency.\nIP-rate-limited at 10 req/min.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "Current health state.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Health"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified."
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          }
        }
      }
    },
    "/icons/{hash}.png": {
      "get": {
        "operationId": "getServiceIcon",
        "tags": [
          "System"
        ],
        "security": [],
        "summary": "Fetch an immutable service icon PNG",
        "description": "Returns the PNG icon referenced by `Service.icon_url`. Files are\ncontent-hashed and `Cache-Control: public, max-age=31536000, immutable` -\ncache aggressively.\n",
        "parameters": [
          {
            "name": "hash",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^([a-f0-9]{16}|default)$"
            },
            "description": "16-char hex content hash, or the literal `default`."
          }
        ],
        "responses": {
          "200": {
            "description": "PNG icon.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Unknown icon hash."
          }
        }
      }
    },
    "/services": {
      "get": {
        "operationId": "listServices",
        "tags": [
          "Services"
        ],
        "summary": "List SMS services for a country",
        "description": "Returns the SMS service catalog for the requested country with a live\nper-caller quote. Cacheable for 30 seconds via\n`ETag` / `If-None-Match`.\n\nThe `quoted_price_cents` reflects per-caller pricing (account\ndiscounts/overrides). Use it as the safe default for\n`max_price_cents` when creating a verification.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/CountryQuery"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Case-insensitive substring filter on `service_name`."
          },
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "Services for the requested country.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/ServicesList"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified."
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "403": {
            "$ref": "#/components/responses/IP_NOT_ALLOWED"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          }
        }
      }
    },
    "/esim_products": {
      "get": {
        "operationId": "listEsimProducts",
        "tags": [
          "eSIM"
        ],
        "summary": "List eSIM products (catalog)",
        "description": "Returns the curated eSIM product catalog with per-caller pricing.\nCacheable for 60 seconds via `ETag` / `If-None-Match`.\n",
        "parameters": [
          {
            "name": "countries",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated ISO-3166-1 alpha-2 country codes."
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unlimited",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "min_data_gb",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_data_gb",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "min_validity_days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "max_validity_days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "supports_topup",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_5g",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "has_calls",
            "in": "query",
            "required": false,
            "description": "Filter to plans that include a phone number and calls (true) or data-only plans (false).",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "price_asc",
                "price_desc",
                "data_desc",
                "validity_desc"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IfNoneMatch"
          }
        ],
        "responses": {
          "200": {
            "description": "List of eSIM products.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EsimProductListEnvelope"
                }
              }
            }
          },
          "304": {
            "description": "Not Modified."
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "403": {
            "$ref": "#/components/responses/IP_NOT_ALLOWED"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          }
        }
      }
    },
    "/esim_products/{id}": {
      "get": {
        "operationId": "getEsimProduct",
        "tags": [
          "eSIM"
        ],
        "summary": "Get an eSIM product by id",
        "description": "Returns a single eSIM product from the catalog. Hidden products are\ntreated as non-existent. Cacheable for 60 seconds.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^prod_"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The eSIM product.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EsimProductEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/PRODUCT_NOT_FOUND"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          }
        }
      }
    },
    "/esims": {
      "post": {
        "operationId": "createEsim",
        "tags": [
          "eSIM"
        ],
        "summary": "Purchase an eSIM (or topup with parent_order_id)",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EsimCreateBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created. Returns the new eSIM order resource.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EsimEnvelope"
                }
              }
            }
          },
          "202": {
            "description": "Accepted. eSIM is still provisioning. Poll `GET /esims/{id}` or wait for `esim.created` webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EsimEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "402": {
            "$ref": "#/components/responses/INSUFFICIENT_BALANCE"
          },
          "404": {
            "description": "Not found. Body discriminates by `error.code`:\n- `PRODUCT_NOT_FOUND` - the `product_id` is unknown or hidden\n- `PARENT_ORDER_NOT_FOUND` - the `parent_order_id` does not exist or belongs to another user\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflicts. Body discriminates by `error.code`:\n- `IDEMPOTENCY_CONFLICT`, `IDEMPOTENCY_REPLAY_IN_FLIGHT`\n- `TOPUP_INCOMPATIBLE`, `PARENT_ORDER_NOT_ACTIVE`\n- `PRICE_OVER_CAP` - current price exceeds `max_price_cents`; see `PriceOverCapError`\n",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    },
                    {
                      "$ref": "#/components/schemas/PriceOverCapError"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          },
          "502": {
            "$ref": "#/components/responses/PROVIDER_ERROR"
          },
          "503": {
            "$ref": "#/components/responses/PRODUCT_UNAVAILABLE"
          }
        }
      },
      "get": {
        "operationId": "listEsims",
        "tags": [
          "eSIM"
        ],
        "summary": "List the caller's eSIM orders",
        "description": "Returns a cursor-paginated list of eSIM orders owned by the\nauthenticated caller. Results are sorted by order id, ascending. Up to\n100 items per page (default 50). Use `next_cursor` from the response to\nfetch the next page.\n",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "processing",
                "completed",
                "cancelled",
                "refunded",
                "expired"
              ]
            },
            "description": "Filter by eSIM status."
          },
          {
            "name": "is_topup",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "`true` to return only topup orders; `false` to return only base orders. Omit to return both."
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO 8601 timestamp. Return orders created at or after this time."
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "ISO 8601 timestamp. Return orders created at or before this time."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of results per page."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "Opaque pagination cursor from a previous response's `next_cursor`."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of eSIM orders.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EsimListEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          }
        }
      }
    },
    "/esims/{id}": {
      "get": {
        "operationId": "getEsim",
        "tags": [
          "eSIM"
        ],
        "summary": "Get a single eSIM order by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^esim_"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The eSIM order.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EsimEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/ESIM_NOT_FOUND"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          }
        }
      }
    },
    "/esims/{id}/usage": {
      "get": {
        "operationId": "getEsimUsage",
        "tags": [
          "eSIM"
        ],
        "summary": "Get live data usage for an eSIM",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^esim_"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Live usage data for the eSIM.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EsimUsageEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/ESIM_NOT_FOUND"
          },
          "410": {
            "$ref": "#/components/responses/ESIM_GONE"
          },
          "422": {
            "$ref": "#/components/responses/ESIM_NOT_ACTIVE"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          },
          "502": {
            "$ref": "#/components/responses/PROVIDER_ERROR"
          },
          "503": {
            "$ref": "#/components/responses/USAGE_UNAVAILABLE"
          }
        }
      }
    },
    "/esims/{id}/qr.png": {
      "get": {
        "operationId": "getEsimQrPng",
        "tags": [
          "eSIM"
        ],
        "summary": "Return the eSIM activation QR as a PNG image",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^esim_"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "PNG image of the activation QR code",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/ESIM_NOT_FOUND"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          }
        }
      }
    },
    "/esims/{id}/topups": {
      "get": {
        "operationId": "listEsimTopups",
        "tags": [
          "eSIM"
        ],
        "summary": "List available topup products for an eSIM",
        "description": "Returns topup addon products available for the given eSIM's product\nfamily with compatible country coverage. If no topup is currently\navailable for the eSIM, returns `{ supports_topup: false, topups: [] }`.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^esim_"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Topup availability and addon list.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EsimTopupListEnvelope"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/ESIM_NOT_FOUND"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          }
        }
      },
      "post": {
        "operationId": "createEsimTopup",
        "tags": [
          "eSIM"
        ],
        "summary": "Purchase a topup for an existing eSIM",
        "description": "Convenience endpoint that forwards to `POST /esims` with\n`parent_order_id` set to this eSIM's id. The path value takes\nprecedence over any `parent_order_id` in the request body.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^esim_"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EsimCreateBody"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Topup purchased. Returns the new eSIM topup order.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EsimEnvelope"
                }
              }
            }
          },
          "202": {
            "description": "Accepted. Topup is still provisioning.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EsimEnvelope"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "402": {
            "$ref": "#/components/responses/INSUFFICIENT_BALANCE"
          },
          "404": {
            "$ref": "#/components/responses/PRODUCT_NOT_FOUND"
          },
          "409": {
            "description": "Conflicts. Body discriminates by `error.code`:\n- `IDEMPOTENCY_CONFLICT`, `IDEMPOTENCY_REPLAY_IN_FLIGHT`\n- `TOPUP_INCOMPATIBLE`, `PARENT_ORDER_NOT_ACTIVE`\n- `PRICE_OVER_CAP` - current price exceeds `max_price_cents`; see `PriceOverCapError`\n",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    },
                    {
                      "$ref": "#/components/schemas/PriceOverCapError"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          },
          "502": {
            "$ref": "#/components/responses/PROVIDER_ERROR"
          },
          "503": {
            "$ref": "#/components/responses/PRODUCT_UNAVAILABLE"
          }
        }
      }
    },
    "/verifications": {
      "post": {
        "operationId": "createVerification",
        "tags": [
          "Verifications"
        ],
        "summary": "Create a verification",
        "description": "Rents a phone number for one inbound SMS. Idempotent by\n`Idempotency-Key`.\n\n## Caps\n\nSMS pricing drifts. Set `max_price_cents` to opt into \"always get a\nnumber\" behaviour: any drift up to your cap charges silently and the\nactual amount appears as `charged_price_cents` on the response. Omit\n`max_price_cents` to lock in exactly the price you saw on\n`GET /v1/services`.\n\n## Price over cap\n\nIf the lowest available price is above your `max_price_cents`, the API\nreturns **`409 PRICE_OVER_CAP`** with both values in the error details:\n\n```json\n{\n  \"success\": false,\n  \"error\": {\n    \"code\": \"PRICE_OVER_CAP\",\n    \"details\": {\n      \"max_price_cents\": 35,\n      \"available_price_cents\": 42\n    }\n  }\n}\n```\n\nNo partial state is created and no funds are touched. Decide locally\nwhether to retry with a higher cap or surface the price to the user.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVerificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Verification created. `status` is always `waiting_for_code` at this point.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "verification"
                          ],
                          "properties": {
                            "verification": {
                              "$ref": "#/components/schemas/Verification"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "402": {
            "$ref": "#/components/responses/INSUFFICIENT_BALANCE"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN"
          },
          "404": {
            "$ref": "#/components/responses/SERVICE_NOT_FOUND"
          },
          "409": {
            "description": "Conflicts. Body discriminates by `error.code`:\n- `IDEMPOTENCY_CONFLICT` - same key, different body\n- `IDEMPOTENCY_REPLAY_IN_FLIGHT` - duplicate while original processes\n- `PRICE_OVER_CAP` - lowest available price exceeds `max_price_cents`; see `PriceOverCapError`\n",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    },
                    {
                      "$ref": "#/components/schemas/PriceOverCapError"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_OUT_OF_STOCK"
          }
        }
      },
      "get": {
        "operationId": "listVerifications",
        "tags": [
          "Verifications"
        ],
        "summary": "List the caller's verifications",
        "description": "Returns a cursor-paginated list of short-term verifications owned by\nthe authenticated caller, newest-first. Up to 100 items per page\n(default 20). Use `next_cursor` from the response to fetch the next\npage. Long-term rentals are not included - use `GET /v1/rentals`.\n",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "waiting_for_code",
                "code_received",
                "cancelled",
                "expired"
              ]
            },
            "description": "Filter by verification status."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Maximum number of results per page."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "Opaque pagination cursor from a previous response's `next_cursor`."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of verifications.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          }
        }
      }
    },
    "/verifications/{id}": {
      "get": {
        "operationId": "getVerification",
        "tags": [
          "Verifications"
        ],
        "summary": "Get a verification by id",
        "description": "Poll the verification's current state. Uses the generous\n`verifications_read` rate-limit bucket - safe to poll every few\nseconds. Prefer webhooks for production use.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/VerificationId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Current state of the verification.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "verification"
                          ],
                          "properties": {
                            "verification": {
                              "$ref": "#/components/schemas/Verification"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/VERIFICATION_NOT_FOUND"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          }
        }
      }
    },
    "/verifications/{id}/messages": {
      "get": {
        "operationId": "listVerificationMessages",
        "tags": [
          "Verifications"
        ],
        "summary": "List all SMS received on a verification",
        "description": "Returns every SMS the number has received, newest first. The number can\nreceive several distinct codes over its life (the line is auto-reused\nduring the window), so this is the way to retrieve the full set rather\nthan just the latest `code` on the verification resource.\n\nIncludes ambient SMS with no extractable code (`code: null`). Uses the\ngenerous `verifications_read` rate-limit bucket. Capped at the 200 most\nrecent messages.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/VerificationId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "All messages received on the number, newest first.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "messages"
                          ],
                          "properties": {
                            "messages": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/VerificationMessage"
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/VERIFICATION_NOT_FOUND"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          }
        }
      }
    },
    "/verifications/{id}/cancel": {
      "post": {
        "operationId": "cancelVerification",
        "tags": [
          "Verifications"
        ],
        "summary": "Cancel a pending verification",
        "description": "Cancels a verification that has not yet received a code. The number is\nreleased and the wallet is refunded atomically in the same database\ntransaction.\n\nCancellation is only valid while `can_cancel: true` on the\nverification. Once a code arrives the call returns\n`409 CANCEL_NOT_ALLOWED`.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/VerificationId"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification cancelled; refunded amount included.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "verification"
                          ],
                          "properties": {
                            "verification": {
                              "type": "object",
                              "required": [
                                "id",
                                "status",
                                "refunded_cents"
                              ],
                              "properties": {
                                "id": {
                                  "$ref": "#/components/schemas/VerificationId"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "cancelled"
                                  ]
                                },
                                "refunded_cents": {
                                  "type": "integer",
                                  "description": "Amount returned to the wallet."
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/VERIFICATION_NOT_FOUND"
          },
          "409": {
            "description": "Idempotency conflict OR the verification can no longer be cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          }
        }
      }
    },
    "/verifications/{id}/complete": {
      "post": {
        "operationId": "completeVerification",
        "tags": [
          "Verifications"
        ],
        "summary": "Mark a verification as done",
        "description": "Marks a verification as complete and moves it out of the active\ndashboard list into history. Local-only status flip - no refund, no\nexternal call, no balance movement. Use this when your integration\nhas consumed the code and you no longer want the verification taking\nup space in the active view.\n\nValid while the verification is in `waiting_for_code` or\n`code_received` state, or when it has expired without a code. Once\nexplicitly completed (or cancelled), the call returns\n`409 COMPLETE_NOT_ALLOWED`.\n\nCompletion is optional - verifications automatically leave the\nactive list when their rental window expires (~15 min). This\nendpoint just lets bulk callers tidy up sooner.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/VerificationId"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Verification marked complete.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "verification"
                          ],
                          "properties": {
                            "verification": {
                              "type": "object",
                              "required": [
                                "id",
                                "status"
                              ],
                              "properties": {
                                "id": {
                                  "$ref": "#/components/schemas/VerificationId"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "code_received"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/VERIFICATION_NOT_FOUND"
          },
          "409": {
            "description": "Idempotency conflict OR the verification can no longer be completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          }
        }
      }
    },
    "/verifications/{id}/reuse": {
      "post": {
        "operationId": "reuseVerificationFree",
        "tags": [
          "Verifications"
        ],
        "summary": "Free reuse of a verification that already received a code",
        "description": "Re-arms the same number to receive another SMS while the rental's\nwindow is still open. Free because the original rental still owns the\nnumber.\n\nCallers should check `allow_reuse` on the verification resource before\ncalling. The rental may have transitioned states between your last GET\nand this call - in that case the API returns\n`409 REUSE_NOT_ALLOWED`. Per-rental cooldown is 30 seconds.\n\nReuse is not supported on every catalog service. When unavailable the\nAPI returns `409 NOT_SUPPORTED`; check `allow_reuse` on the verification\nfirst to skip the round trip.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/VerificationId"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Reuse successful; the verification resource is re-armed and ready for a new code.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "verification"
                          ],
                          "properties": {
                            "verification": {
                              "$ref": "#/components/schemas/Verification"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/VERIFICATION_NOT_FOUND"
          },
          "409": {
            "$ref": "#/components/responses/REUSE_NOT_ALLOWED"
          },
          "422": {
            "$ref": "#/components/responses/NOT_SUPPORTED"
          },
          "429": {
            "$ref": "#/components/responses/REUSE_RATE_LIMITED"
          }
        }
      }
    },
    "/verifications/{id}/reuse/paid": {
      "post": {
        "operationId": "reuseVerificationPaid",
        "tags": [
          "Verifications"
        ],
        "summary": "Paid reuse of an expired or completed verification",
        "description": "Reclaims a number from the available pool by charging a fixed\n`paid_reuse_price_cents` (currently 50 = $0.50). The charge happens\natomically; on any failure (number left the pool, eligibility closed)\nthe wallet is refunded and the call returns `409 REUSE_NOT_ALLOWED`.\n\nYou **must** send `accept_charge_cents` in the body matching the\ncurrent `paid_reuse_price_cents` - this is an explicit consent guard\nagainst accidental charges. Read the value off the verification\nresource instead of hardcoding.\n\nAfter a paid reuse `allow_paid_reuse` flips to `false`; it re-arms once\nthe number reaches the next eligible state transition (the reused rental\nexpires, is confirmed, or receives a message), at which point a further\npaid reuse becomes available again - best-effort.\n\nPer-rental cooldown is 30 seconds. LTR rentals must re-rent through\nthe create endpoint instead.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/VerificationId"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaidReuseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Paid reuse successful. `charged_reuse_cents` reflects what was deducted.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "verification"
                          ],
                          "properties": {
                            "verification": {
                              "$ref": "#/components/schemas/Verification"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "402": {
            "$ref": "#/components/responses/INSUFFICIENT_BALANCE"
          },
          "404": {
            "$ref": "#/components/responses/VERIFICATION_NOT_FOUND"
          },
          "409": {
            "$ref": "#/components/responses/REUSE_NOT_ALLOWED"
          },
          "422": {
            "$ref": "#/components/responses/NOT_SUPPORTED"
          },
          "429": {
            "$ref": "#/components/responses/REUSE_RATE_LIMITED"
          }
        }
      }
    },
    "/rentals": {
      "post": {
        "operationId": "createRental",
        "tags": [
          "Rentals"
        ],
        "summary": "Create a long-term rental",
        "description": "Reserves a dedicated phone number for a fixed duration (3, 7, 14, or 30\ndays). All incoming SMS messages are collected and accessible via\n`GET /v1/rentals/{id}`. Idempotent by `Idempotency-Key`.\n\n## Price over cap\n\nLTR pricing can drift. If the lowest available price exceeds your\n`max_price_cents` ceiling at request time, the API returns\n**`409 PRICE_OVER_CAP`** with both values in the error details:\n\n```json\n{\n  \"success\": false,\n  \"error\": {\n    \"code\": \"PRICE_OVER_CAP\",\n    \"details\": {\n      \"max_price_cents\": 1500,\n      \"available_price_cents\": 1750\n    }\n  }\n}\n```\n\nNo partial state is created and no funds are touched. Decide locally\nwhether to retry with a higher cap or surface the price to the user.\n\n## Duration\n\n`duration` must be one of `3D`, `7D`, `14D`, or `30D`. Only\n`country=\"us\"` is currently supported.\n\n## Auto-renew\n\nSet `auto_renew: true` to automatically charge the same duration at\nexpiry. Toggle at any time via `POST /v1/rentals/{id}/auto_renew`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RentalCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Rental created. `status` is `active` immediately.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Rental"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "402": {
            "$ref": "#/components/responses/INSUFFICIENT_BALANCE"
          },
          "403": {
            "$ref": "#/components/responses/FORBIDDEN"
          },
          "404": {
            "description": "Not found. Body discriminates by `error.code`:\n- `SERVICE_NOT_FOUND` - unknown service id\n- `LTR_NOT_AVAILABLE` - service does not offer the requested duration\n- `WEBHOOK_ENDPOINT_NOT_FOUND` - `webhook_endpoint_id` is unknown or belongs to another user\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflicts. Body discriminates by `error.code`:\n- `IDEMPOTENCY_CONFLICT` - same key, different body\n- `IDEMPOTENCY_REPLAY_IN_FLIGHT` - duplicate while original processes\n- `PRICE_OVER_CAP` - lowest available price exceeds `max_price_cents`; see `PriceOverCapError`\n",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ErrorEnvelope"
                    },
                    {
                      "$ref": "#/components/schemas/PriceOverCapError"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          },
          "502": {
            "$ref": "#/components/responses/PROVIDER_ERROR"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_OUT_OF_STOCK"
          },
          "504": {
            "$ref": "#/components/responses/PROVIDER_TIMEOUT"
          }
        }
      },
      "get": {
        "operationId": "listRentals",
        "tags": [
          "Rentals"
        ],
        "summary": "List the caller's long-term rentals",
        "description": "Returns a cursor-paginated list of long-term rentals owned by the\nauthenticated caller. Results are sorted newest-first. Up to 100 items\nper page (default 20). Use `next_cursor` from the response to fetch\nthe next page.\n",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "expired",
                "cancelled"
              ]
            },
            "description": "Filter by rental status."
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "3D",
                "7D",
                "14D",
                "30D"
              ]
            },
            "description": "Filter by duration."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Maximum number of results per page."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "Opaque pagination cursor from a previous response's `next_cursor`."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of rentals.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RentalListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          }
        }
      }
    },
    "/rentals/{id}": {
      "get": {
        "operationId": "getRental",
        "tags": [
          "Rentals"
        ],
        "summary": "Get a long-term rental by id",
        "description": "Returns the full rental resource including all received messages. Poll\nevery few seconds during active rentals; prefer webhooks for production\nuse.\n\nUse the `messages_limit` and `messages_before` query parameters to page\nthrough older messages when there are many.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/RentalId"
          },
          {
            "name": "messages_limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of messages to include."
          },
          {
            "name": "messages_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "Opaque message cursor. Returns messages older than this id."
          }
        ],
        "responses": {
          "200": {
            "description": "Current state of the rental including messages.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Rental"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          }
        }
      },
      "delete": {
        "operationId": "cancelRental",
        "tags": [
          "Rentals"
        ],
        "summary": "Cancel a long-term rental",
        "description": "Cancels an active rental and issues a wallet refund. Cancellation is\nonly available within the first hour after creation (`can_cancel:\ntrue`). Once the cancel window has passed or the rental is no longer\nactive, the call returns `409 CANCEL_NOT_ALLOWED`.\n\n`Idempotency-Key` is required: a network retry on a successful cancel\nreplays the cached `200` instead of returning `CANCEL_NOT_ALLOWED`\nagainst the now-cancelled rental. Reusing the same key for a different\nrental returns `409 IDEMPOTENCY_CONFLICT`.\n\nOn success the rental's `status` transitions to `cancelled` and a\n`rental.cancelled` webhook event is dispatched.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/RentalId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Rental cancelled.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Rental"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND"
          },
          "409": {
            "description": "Conflict. Body discriminates by `error.code`:\n- `CANCEL_NOT_ALLOWED` - rental is past the cancel window or already terminal\n- `IDEMPOTENCY_CONFLICT` - same `Idempotency-Key` reused with a different rental id\n- `IDEMPOTENCY_REPLAY_IN_FLIGHT` - original cancel call is still processing; retry after `Retry-After`\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          }
        }
      }
    },
    "/rentals/{id}/re_rent": {
      "post": {
        "operationId": "reRentRental",
        "tags": [
          "Rentals"
        ],
        "summary": "Re-rent an expired LTR number",
        "description": "Purchases a fresh rental period on the same phone number at the current\nre-rent price. Only call when `re_rent_available: true` on the rental\nresource.\n\nNo request body. `Idempotency-Key` is optional but recommended to guard\nagainst network retries triggering a double charge.\n\n### 410 semantics\n\nA `410 RE_RENT_NOT_AVAILABLE` response means the number has been permanently\nreleased. **Stop retrying**; `re_rent_available`\nwill be `false` on subsequent fetches. Offer the user a fresh rental via\n`POST /v1/rentals` instead.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/RentalId"
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Re-rent succeeded. Returns the updated rental resource with the new\n`expires_at` and `paid_until`. `status` transitions back to `active`.\n",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Rental"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "402": {
            "$ref": "#/components/responses/INSUFFICIENT_BALANCE"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND"
          },
          "410": {
            "description": "The number is no longer available for re-rent - it has been\nreleased. `error.code` is `RE_RENT_NOT_AVAILABLE`. Stop retrying\nand offer a fresh rental instead.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          },
          "502": {
            "$ref": "#/components/responses/PROVIDER_ERROR"
          }
        }
      }
    },
    "/rentals/{id}/auto_renew": {
      "post": {
        "operationId": "setRentalAutoRenew",
        "tags": [
          "Rentals"
        ],
        "summary": "Enable or disable auto-renew on a rental",
        "description": "Sets the `auto_renew` flag to an explicit state. Unlike a toggle,\ncalling with the same `enabled` value twice is safe (idempotent by\nconstruction). No `Idempotency-Key` header is required.\n\nWhen `enabled: true`, the rental will automatically renew for the same\nduration at expiry. When `enabled: false`, the rental expires normally\nwhen `expires_at` is reached.\n\nReturns `400 VALIDATION_ERROR` if the rental has already expired.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/RentalId"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional on this endpoint. The body is an explicit state setter, so\nrepeated calls with the same `enabled` value are no-ops at the\nbackend regardless of this header. Include one if your client\nuniformly tags every mutation - it is accepted but not enforced.\n",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RentalAutoRenewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto-renew preference updated. Returns the updated rental.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "$ref": "#/components/schemas/Rental"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/NOT_FOUND"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          },
          "502": {
            "$ref": "#/components/responses/PROVIDER_ERROR"
          }
        }
      }
    },
    "/proxy_plans": {
      "get": {
        "operationId": "listProxyPlans",
        "tags": [
          "Plans"
        ],
        "summary": "List proxy plans",
        "description": "Returns active proxy plans with per-user quoted pricing. Plans\nwithout a public id are filtered out.\n\nWithout `type`, only mobile/GB (`shared`) plans are returned and the\nresponse has no `next_cursor` (the original response). With `type`,\nStandard dedicated plans can be included, plans come back in a stable\norder, and `next_cursor` pages through them. Premium dedicated plans\nare never listed.\n",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "shared",
                "dedicated_standard",
                "all"
              ]
            },
            "description": "Plan types to list. `all` is shared + Standard dedicated."
          },
          {
            "$ref": "#/components/parameters/CountryQuery"
          },
          {
            "name": "min_gb",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Filter to plans with at least this many GB included. Any value above 0 excludes dedicated plans."
          },
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100
            }
          },
          {
            "name": "available",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            },
            "description": "With `type`, `true` returns only plans available right now."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "With `type`, the `next_cursor` from the previous page."
          }
        ],
        "responses": {
          "200": {
            "description": "List of plans.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "plans"
                          ],
                          "properties": {
                            "plans": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/ProxyPlan"
                              }
                            },
                            "next_cursor": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Present only when `type` was passed. Null on the last page."
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          }
        }
      }
    },
    "/proxy_plans/{id}": {
      "get": {
        "operationId": "getProxyPlan",
        "tags": [
          "Plans"
        ],
        "summary": "Get one proxy plan",
        "description": "One plan - mobile/GB or Standard dedicated - in the same shape as the\nlist, with your quoted price and, for a Standard plan, its current\navailability. Use it to refresh a quote right before buying. Premium,\nretired and unknown plans are not found.\n",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProxyPlanId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The plan.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "plan"
                          ],
                          "properties": {
                            "plan": {
                              "$ref": "#/components/schemas/ProxyPlan"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "description": "PROXY_PLAN_NOT_FOUND - unknown, retired or Premium plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          }
        }
      }
    },
    "/proxies": {
      "post": {
        "operationId": "createProxy",
        "tags": [
          "Proxies"
        ],
        "summary": "Purchase a proxy package",
        "description": "Buys a mobile/GB proxy package or a Standard dedicated proxy, either\nby `plan_id` (charged to the wallet) or by `pool_id` (a mobile/GB\nsub-order drawn from a reseller GB pool the caller owns - see the\n`Proxy pools` tag). Provide exactly one of `plan_id` or `pool_id`.\nReturns **`202 Accepted`**. A mobile/GB package comes back\n`status: provisioning` and becomes active within 1-2 minutes. A\nStandard dedicated proxy comes back `active` with its `gateway` when\nthe modem is issued immediately, otherwise `provisioning` (settled\nwithin about 5 minutes). The `proxy.ready` webhook fires when the\norder becomes active; `proxy.provisioning_failed` (with the refund)\nif it cannot be provisioned.\n\nFor a Standard dedicated plan, nothing is charged unless the plan is\nstill available: a sold-out plan returns `503 SERVICE_OUT_OF_STOCK`\nand a price above `max_price_cents` returns `409 PRICE_MISMATCH`,\nboth before any charge. Premium dedicated plans are not available\nover the API.\n\nWallet deduction and refund-on-failure are atomic for a `plan_id`\npurchase. A `pool_id` purchase never touches the wallet - GB is drawn\nfrom the pool's ledger and returned to it if provisioning fails.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProxyRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Proxy purchase accepted. Wait for `proxy.ready` or poll `GET /v1/proxies/:id`.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "proxy"
                          ],
                          "properties": {
                            "proxy": {
                              "$ref": "#/components/schemas/Proxy"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "402": {
            "$ref": "#/components/responses/INSUFFICIENT_BALANCE"
          },
          "404": {
            "description": "Not found - PROXY_PLAN_NOT_FOUND (`plan_id`) or POOL_NOT_FOUND (`pool_id`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - IDEMPOTENCY_CONFLICT, IDEMPOTENCY_REPLAY_IN_FLIGHT, PRICE_MISMATCH, PROXY_NOT_READY, POOL_LAPSED, or POOL_INSUFFICIENT_GB.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "502": {
            "$ref": "#/components/responses/PROVISIONING_FAILED"
          },
          "503": {
            "$ref": "#/components/responses/SERVICE_OUT_OF_STOCK"
          },
          "504": {
            "$ref": "#/components/responses/PROVIDER_TIMEOUT"
          }
        }
      },
      "get": {
        "operationId": "listProxies",
        "tags": [
          "Proxies"
        ],
        "summary": "List the caller's proxy packages",
        "description": "Returns a cursor-paginated list of proxy packages owned by the\nauthenticated caller. Up to 100 items per page (default 50). Use\n`next_cursor` from the response to fetch the next page.\n\nFilters are AND-combined. `status` is repeatable; the others accept a\nsingle value.\n",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "active",
                  "provisioning",
                  "expired",
                  "exhausted",
                  "refunded"
                ]
              }
            },
            "description": "Filter by package status. Repeat the param to combine values."
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "shared",
                "dedicated_standard",
                "dedicated_premium"
              ]
            },
            "description": "Filter by package type."
          },
          {
            "name": "country",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            },
            "description": "2-letter ISO country code. Matched against dedicated-proxy country only."
          },
          {
            "name": "pool_id",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ProxyPoolId"
            },
            "description": "Restrict to sub-orders minted from a single GB pool."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of results per page."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 64
            },
            "description": "Opaque pagination cursor from a previous response's `next_cursor`."
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of proxy packages.",
            "headers": {
              "X-RateLimit-Limit": {
                "$ref": "#/components/headers/X-RateLimit-Limit"
              },
              "X-RateLimit-Remaining": {
                "$ref": "#/components/headers/X-RateLimit-Remaining"
              },
              "X-RateLimit-Reset": {
                "$ref": "#/components/headers/X-RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "proxies",
                            "next_cursor"
                          ],
                          "properties": {
                            "proxies": {
                              "type": "array",
                              "items": {
                                "$ref": "#/components/schemas/Proxy"
                              }
                            },
                            "next_cursor": {
                              "type": [
                                "string",
                                "null"
                              ],
                              "description": "Pass as `cursor` in the next request to advance the page. Null on the last page."
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/VALIDATION_ERROR"
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          },
          "500": {
            "$ref": "#/components/responses/INTERNAL_ERROR"
          }
        }
      }
    },
    "/proxies/{id}": {
      "get": {
        "operationId": "getProxy",
        "tags": [
          "Proxies"
        ],
        "summary": "Get a proxy package by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProxyId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The proxy package, including gateway creds (if provisioned) and all lists.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "object",
                          "required": [
                            "proxy"
                          ],
                          "properties": {
                            "proxy": {
                              "$ref": "#/components/schemas/Proxy"
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UNAUTHENTICATED"
          },
          "404": {
            "$ref": "#/components/responses/PROXY_NOT_FOUND"
          },
          "429": {
            "$ref": "#/components/responses/RATE_LIMITED"
          }
        }
      }
    },
    "/proxies/{id}/usage": {
      "get": {
        "operationId": "getProxyUsage",
        "tags": [
          "Proxies"
        ],
        "summary": "Live traffic usage for a proxy package",
        "description": "Returns daily / weekly / monthly / total / remaining byte counters.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProxyId"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Usage counters.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/SuccessEnvelope"
                    },
                    {
[...]
